body{
    background-color: #bacce7;
    font-family: 'Courier New', Courier, monospace;
}

main{
    border: 2px solid  	#f8f8f8;
    background-color:  	#f8f8f8;
    width: 15%;
    margin: 150px auto;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
    text-align: center;
    
   

}

section{
    background-color: #287ae6;
    border-radius: 10px 10px 10px 10px;
    padding: 50px;
    margin: 0px auto;
    text-align: center;
   
}

img{
    width: 85%;
    height: 85%;
    
}


p{
    display: none;
    color: rgba(0, 0, 0, 0.342);
}


@media screen and (max-width: 600px) {
    main{
        width: 50%;
    }

    section{
        width: 50%;
    }
  
}

@media screen and (min-width: 600px) {
    main{
        width: 40%;
    }

    section{
        width: 60%;
    }
  
}


@media screen and (min-width: 800px) {
    main{
        width: 35%;
    }

    section{
        width: 60%;
    }
  
}

@media screen and (min-width: 1000px) {
    main{
        width: 30%;
    }

    section{
        width: 60%;
    }
  
}


@media screen and (min-width: 1200px) {
    main{
        width: 25%;
    }

    section{
        width: 65%;
    }
  
}

@media screen and (min-width: 1400px) {
    main{
        width: 15%;
    }

    section{
        width: 50%;
    }
  
}












